services:
  mysql:
    image: mysql:8.0
    container_name: mysql-tarefas
    environment:
      MYSQL_ROOT_PASSWORD: lgl99VICTOR99@
      MYSQL_DATABASE: tarefas_db
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 5s
      retries: 10

  backend:
    build: ./backend
    container_name: backend-tarefas
    ports:
      - "8080:8080"
    depends_on:
      mysql:
        condition: service_healthy
    restart: on-failure

volumes:
  mysql_data:
