services:
  mysql:
    image: mysql:8.0
    container_name: mysql-tarefas
    env_file:
      - .env
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      # removed: mounting a host file here caused Docker mount errors on Windows
    networks:
      - taskflow_net
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 5s
      retries: 10
  backend:
    build: ./backend
    container_name: backend-tarefas
    env_file:
      - .env
    ports:
      - "8080:8080"
    depends_on:
      mysql:
        condition: service_healthy
    restart: on-failure
    networks:
      - taskflow_net

  frontend:
    image: nginx:alpine
    container_name: frontend-tarefas
    ports:
      - "80:80"
    volumes:
      - ./frontend:/usr/share/nginx/html
    networks:
      - taskflow_net

volumes:
  mysql_data:

networks:
  taskflow_net:
    driver: bridge